body{
  background-color: rgb(161, 161, 254);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  input{padding: 10px;}
  button{
    padding: 10px;
    li{margin: 13px 10px;}
    background-color: rgb(197, 134, 255);
    height: 30px;
  }
}